{
  "openapi": "3.1.0",
  "info": {
    "title": "FlashCart AI - Production API Contract",
    "version": "1.0.0",
    "description": "Unified enterprise REST API contract specification for FlashCart AI hyper-fast delivery app."
  },
  "servers": [
    {
      "url": "https://api.flashcart.ai/api/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local Dev Server"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Authenticate user",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List catalog products",
        "tags": ["Products"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "categoryId", "in": "query", "schema": { "type": "string" } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "summary": "Get user active cart",
        "tags": ["Cart"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Active shopping cart"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Create new checkout order",
        "tags": ["Orders"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": {
            "description": "Order created successfully"
          }
        }
      }
    },
    "/ai/assistant": {
      "post": {
        "summary": "Query Gemini AI assistant for recipes, budget planning, or meal ideas",
        "tags": ["AI"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "AI recommendation & missing items bundle"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "phone", "password", "firstName", "lastName"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "password": { "type": "string", "minLength": 8 },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "role": { "type": "string", "enum": ["CUSTOMER", "RIDER", "STORE_MANAGER", "ADMIN"], "default": "CUSTOMER" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["loginIdentifier", "password"],
        "properties": {
          "loginIdentifier": { "type": "string" },
          "password": { "type": "string" }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "user": { "type": "object" },
              "tokens": {
                "type": "object",
                "properties": {
                  "accessToken": { "type": "string" },
                  "refreshToken": { "type": "string" },
                  "tokenType": { "type": "string", "example": "Bearer" },
                  "expiresInSeconds": { "type": "integer", "example": 3600 }
                }
              }
            }
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": { "type": "array", "items": { "type": "object" } },
          "meta": { "type": "object" }
        }
      }
    }
  }
}
